<div>
  {{common/navbar-nav userMenus=userMenus}}
  <div class="container-content dashboard-alt on-container-content-drawer-open">
    <div class="pos-dashboard-wrapper wrapper-container-content-drawer-open">
      {{!--{{todo-list}}--}}
      {{outlet}}
    </div>
  </div>
</div>