<div class="left-item-dashboard col-sm-12">
  <div class="dashboard-left-scroll">
    {{ common/title-page title="Dashboard"}}
    <div class="notificon-wrapper">
      <div class="col-sm-3">
        <div class="item-notify">
          <i class="fa fa-envelope-o icon"></i>
          <div class="triangle-notify"></div>
          <div class="main-notify">
            <span>21</span>
            <p>Notifications</p>
            <hr>
          </div>
          <p>Last month :<strong> 11</strong></p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="item-notify">
          <i class="fa fa-calendar-o icon"></i>
          <div class="triangle-notify"></div>
          <div class="main-notify">
            <span>21</span>
            <p>Productions</p>
            <hr>
          </div>
          <p>Last month :<strong> 11</strong></p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="item-notify">
          <i class="fa fa-thumbs-o-up icon"></i>
          <div class="triangle-notify"></div>
          <div class="main-notify">
            <span>21</span>
            <p>Positive feedback</p>
            <hr>
          </div>
          <p>Last month :<strong> 11</strong></p>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="item-notify">
          <i class="fa fa-tasks icon"></i>
          <div class="triangle-notify"></div>
          <div class="main-notify">
            <span>21</span>
            <p>Task completed</p>
            <hr>
          </div>
          <p>Last month :<strong> 11</strong></p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 content-section">
      <div class="col-sm-6">

      </div>
      <div class="col-sm-6">
        {{example/daily-feed}}
        {{example/comment-notif}}
      </div>
    </div>
    {{common/footer-foot}}
  </div>
</div>
