<div>
  <h3>{{title}}</h3>
  <div class="ibox-tools">
    <a>
      <i class="nav-setting-btn fa fa-cog"></i>
    </a>
  </div>
  <div class="floating-drawer-settings hidden animated fadeInDown">
    <ul class="list-group">
      <li class="list-group-item">
        <div>
          <i class="nav-setting-btn fa fa-cog"></i>
        </div>
      </li>
    </ul>
  </div>
</div>